In [22]:
import pandas as pd
import numpy as np

In [23]:
dict={
   "nombre": "Jackydata",
    "Apellido":"Nuñez",
    "edad":"28",
    "ciudad":"Lima",
    "telefono":"123456",
    "email":"jackydata@gmail.com"
}

In [36]:
df=pd.DataFrame([dict])

In [34]:
df

      nombre Apellido edad ciudad telefono                email
0  Jackydata    Nuñez   28   Lima   123456  jackydata@gmail.com